*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.home{
  min-height:100vh;
  color:white;
  overflow:visible;
  position:relative;

  background:
  radial-gradient(circle at 50% 50%,
  rgba(255,140,220,.20),
  transparent 40%),

  radial-gradient(circle at 20% 20%,
  rgba(255,200,230,.15),
  transparent 35%),

  linear-gradient(
    135deg,
    #13061b,
    #1b0d29,
    #251036,
    #12081d
  );
}

/* Floating particles */

.particles span{
  position:absolute;
  width:8px;
  height:8px;
  border-radius:50%;
  background:white;
  opacity:.5;
}

.particles span:nth-child(1){
  left:10%;
  top:20%;
  animation:floatParticle 7s infinite;
}

.particles span:nth-child(2){
  left:80%;
  top:25%;
  animation:floatParticle 9s infinite;
}

.particles span:nth-child(3){
  left:70%;
  top:70%;
  animation:floatParticle 8s infinite;
}

.particles span:nth-child(4){
  left:20%;
  top:80%;
  animation:floatParticle 10s infinite;
}

.particles span:nth-child(5){
  left:50%;
  top:15%;
  animation:floatParticle 6s infinite;
}

@keyframes floatParticle{
  0%{
    transform:translateY(0px);
  }
  50%{
    transform:translateY(-25px);
  }
  100%{
    transform:translateY(0px);
  }
}

.floating-icon{
  position:absolute;
  color:rgba(255,255,255,.25);
  font-weight:700;
  pointer-events:none;
}

.code{
  top:22%;
  right:15%;
  font-size:4rem;
  animation:float1 6s ease-in-out infinite;
}

.ai{
  bottom:20%;
  left:15%;
  font-size:3rem;
  animation:float2 8s ease-in-out infinite;
}

.db{
  top:65%;
  right:18%;
  font-size:1.5rem;
  animation:float3 7s ease-in-out infinite;
}

@keyframes float1{
  0%{transform:translateY(0);}
  50%{transform:translateY(-20px);}
  100%{transform:translateY(0);}
}

@keyframes float2{
  0%{transform:translateY(0);}
  50%{transform:translateY(25px);}
  100%{transform:translateY(0);}
}

@keyframes float3{
  0%{transform:translateY(0);}
  50%{transform:translateY(-15px);}
  100%{transform:translateY(0);}
}

.navbar{
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:flex-start;
  padding:40px 80px;
}

.logo{
  font-size:2.3rem;
  font-weight:700;
  color:#57d7ff;
  letter-spacing:-1px;
}

.logo span{
  color:#b56cff;
}

.nav-links{
  display:flex;
  list-style:none;
  gap:55px;
  align-items:center;
}

.nav-links li{
  display:flex;
  flex-direction:column;
  align-items:center;
  cursor:pointer;
  transition:all .35s ease;
}

.nav-links li span{
  font-size:0.75rem;
  color:rgba(255,255,255,.55);
  font-weight:700;
  margin-bottom:3px;
  transition:all .35s ease;
}

.nav-links li p{
  margin:0;
  color:rgba(255,255,255,.55);
  font-size:1.1rem;
  font-weight:700;
  font-family:monospace;
  transition:all .35s ease;
}

.nav-links:hover li{
  opacity:0.25;
}

.nav-links:hover li:hover{
  opacity:1;
  transform:translateY(-4px) scale(1.08);
}

.nav-links:hover li:hover p,
.nav-links:hover li:hover span{
  color:white;
}

.nav-links li:hover p{
  text-shadow:
    0 0 10px rgba(255,255,255,.8),
    0 0 20px rgba(255,255,255,.6);
}

.logo{
  text-decoration:none;
  color:#57d7ff;
}

.scroll-indicator{
  width:40px;
  height:70px;
  border:2px solid rgba(255,255,255,.8);
  border-radius:25px;
  position:absolute;
  bottom:40px;
  left:50%;
  transform:translateX(-50%);
}

.scroll-arrow{
  color:#d66bff;
  font-size:26px;
  font-weight:bold;
  text-align:center;
  margin-top:10px;
  animation:arrowMove 1.8s infinite;
}

@keyframes arrowMove{

  0%{
    opacity:0;
    transform:translateY(0);
  }

  30%{
    opacity:1;
  }

  100%{
    opacity:0;
    transform:translateY(22px);
  }
}

@keyframes scrollMove{
  0%{
    opacity:0;
    transform:translateY(0);
  }

  30%{
    opacity:1;
  }

  100%{
    opacity:0;
    transform:translateY(25px);
  }
}

.hero{
  min-height:80vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  position:relative;
}

.hero h1{
  font-size:8rem;
  font-weight:900;
  letter-spacing:4px;
  z-index:2;
}

.hero p{
  margin-top:20px;
  font-size:1.3rem;
  letter-spacing:3px;
  z-index:2;
}

.hero button{
  margin-top:40px;
  padding:15px 35px;
  border:none;
  border-radius:12px;
  background:#5ad6ff;
  color:#08111f;
  font-size:1rem;
  font-weight:bold;
  cursor:pointer;
}

.glow{
  width:700px;
  height:700px;

  background:
  radial-gradient(
    circle,
    rgba(255,170,220,.9),
    rgba(255,120,190,.6),
    transparent
  );

  border-radius:50%;

  filter:blur(160px);

  position:absolute;

  top:50%;
  left:50%;

  transform:translate(-50%,-50%);

  animation:pulseGlow 6s infinite;
}

@keyframes pulseGlow{
  0%{
    transform:translate(-50%,-50%) scale(1);
  }

  50%{
    transform:translate(-50%,-50%) scale(1.1);
  }

  100%{
    transform:translate(-50%,-50%) scale(1);
  }
}

.cursor{
  position:fixed;
  left:0;
  top:0;

  width:35px;
  height:35px;

  border:2px solid #d66bff;
  border-radius:50%;

  display:flex;
  justify-content:center;
  align-items:center;

  pointer-events:none;

  transform:translate(-50%,-50%);
  z-index:99999;
}

a:hover ~ .cursor,
button:hover ~ .cursor{
  width:60px;
  height:60px;
}

.cursor.active{

  width:65px;
  height:65px;

  background:
    rgba(214,107,255,.15);

  border-color:#d66bff;

  box-shadow:
    0 0 25px rgba(214,107,255,1);

}

body{
  cursor:none;
}

a,
button,
li{
  cursor:none;
}

.cursor-dot{
  width:8px;
  height:8px;

  background:#d66bff;

  border-radius:50%;

  margin:0;
  padding:0;

  box-shadow:
    0 0 10px #d66bff,
    0 0 20px #d66bff;
}

.nav-links li.active{
  opacity:1;
}

.nav-links li.active p,
.nav-links li.active span{
  color:white;
}

.nav-links li.active p{
  text-shadow:
    0 0 10px rgba(255,255,255,.8),
    0 0 20px rgba(255,255,255,.6);
}

.section{
  min-height:100vh;

  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}